.item-location {

}

.item-area {

}

.item-original {
  color: #ddd;
  text-align: right;
  margin-left: 1em;
}

.item-name {
  font-weight: bold;
  font-size: 110%;
}

.item-count {
  color: red;
  margin-left: 1em;
  margin-right: 0.5em;
}

.done .item-count, .done.item-count {
  color: gray;
  text-decoration: line-through;
}

.done .item-count-label, .done.item-count-label {
  color: gray;
  text-decoration: line-through;
}

.done .item-name {
  text-decoration: line-through;
  color: gray;
}

.bug-text {
  color: gray;
}

ul {
  margin-top: 1em;
}

.items-rem-count {
  color: gray;
  font-size: 70%;
  /*margin-left: 1em;*/
}

.location-input-group label {
    margin-bottom: 1px;
}

.file-dragger {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.file-dragger p {
    /** Fix hovering wierdness on some browsers */
    pointer-events: none;
    color: #999;
    font-size: 2.5em;
    text-align: center;
    margin: 50px;
}

.file-dragger.hover {
    background-color: #dddddd;
}

.load-cancel-button {
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 15px;
}