item-counter[item="missile-count"] {
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/items/missile_big.png");
}

item-counter[item="etank-count"] {
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/items/etank.png");
}

item-counter[item="missile"] {
    background-image: url("../img/items/missile_launcher.png");
}

item-counter[item="super-missile"] {
    background-image: url("../img/items/super_missile.png");
}

item-counter[item="wavebuster"] {
    background-image: url("../img/items/wavebuster.png");
}

item-counter[item="ice-spreader"] {
    background-image: url("../img/items/ice_spreader.png");
}

item-counter[item="flamethrower"] {
    background-image: url("../img/items/flamethrower.png");
}

item-counter[item="space-jump"] {
    background-image: url("../img/items/space_jump_boots.png");
}

item-counter[item="grapple"] {
    background-image: url("../img/items/grapple_beam.png");
}

item-counter[item="bombs"] {
    background-image: url("../img/items/bombs.png");
}

item-counter[item="boost"] {
    background-image: url("../img/items/boost_ball.png");
}

item-counter[item="spider"] {
    background-image: url("../img/items/spider_ball.png");
}

item-counter[item="varia"] {
    background-image: url("../img/items/varia_suit.png");
}

item-counter[item="gravity"] {
    background-image: url("../img/items/gravity_suit.png");
}

item-counter[item="phazon"] {
    background-image: url("../img/items/phazon_suit.png");
}

item-counter[item="thermal"] {
    background-image: url("../img/items/thermal_visor.png");
}

item-counter[item="xray"] {
    background-image: url("../img/items/xray_visor.png");
}

item-counter[item="charge"] {
    background-image: url("../img/items/charge_beam.png");
}

item-counter[item="wave"] {
    background-image: url("../img/items/wave_beam.png");
}

item-counter[item="ice"] {
    background-image: url("../img/items/ice_beam.png");
}

item-counter[item="plasma"] {
    background-image: url("../img/items/plasma_beam.png");
}

item-counter[item="power-bombs"] {
    background-image: url("../img/items/power_bomb.png");
}

item-counter[item="morph"] {
    background-image: url("../img/items/morph_ball.png");
}

item-counter[item="truth"] {
    background-image: url("../img/items/artifacts/truth.png")
}

item-counter[item="strength"] {
    background-image: url("../img/items/artifacts/strength.png")
}

item-counter[item="elder"] {
    background-image: url("../img/items/artifacts/elder.png")
}

item-counter[item="wild"] {
    background-image: url("../img/items/artifacts/wild.png")
}

item-counter[item="lifegiver"] {
    background-image: url("../img/items/artifacts/lifegiver.png")
}

item-counter[item="warrior"] {
    background-image: url("../img/items/artifacts/warrior.png")
}

item-counter[item="chozo"] {
    background-image: url("../img/items/artifacts/chozo.png")
}

item-counter[item="nature"] {
    background-image: url("../img/items/artifacts/nature.png")
}

item-counter[item="sun"] {
    background-image: url("../img/items/artifacts/sun.png")
}

item-counter[item="world"] {
    background-image: url("../img/items/artifacts/world.png")
}

item-counter[item="spirit"] {
    background-image: url("../img/items/artifacts/spirit.png")
}

item-counter[item="newborn"] {
    background-image: url("../img/items/artifacts/newborn.png")
}