/*item-counter[translator][count="0"] {
    filter: blur(1px) saturate(20%) hue-rotate(170deg);
}*/

item-counter[item="missile-count"] {
    background-image: url("../img/echoes/game/missile_expansion.png");
}

item-counter[item="etank-count"][count="0"] [counter] {
    opacity: 0;
}

item-counter[item="missile-count"][count="0"] [counter] {
    opacity: 0;
}

item-counter[item="etank-count"] {
    background-image: url("../img/echoes/game/energy_tank.png");
}

item-counter[item="pb-count"][count="0"] [counter] {
    opacity: 0;
}

item-counter[item="pb-count"] {
    background-image: url("../img/echoes/game/power_bomb_expansion.png");
}

item-counter[item="ammo-upgrade"][count="0"] [counter] {
    opacity: 0;
}

item-counter[item="ammo-upgrade"] {
    background-image: url("../img/echoes/game/beam_ammo_expansion.png");
}

item-counter[item="missile"][count="0"] [counter] {
    opacity: 0;
}

item-counter[item="missile"] {
    background-image: url("../img/echoes/game/missile_launcher.png");
}

item-counter[item="super-missile"] {
    background-image: url("../img/echoes/game/super_missile.png");
}

item-counter[item="dark-burst"] {
    background-image: url("../img/echoes/game/dark_burst.png");
}

item-counter[item="sunburst"] {
    background-image: url("../img/echoes/game/sunburst.png");
}

item-counter[item="sonic-boom"] {
    background-image: url("../img/echoes/game/sonic_boom.png");
}

item-counter[item="gravity-boost"] {
    background-image: url("../img/echoes/game/gravity_boost.png");
}

item-counter[item="space-jump"] {
    background-image: url("../img/echoes/game/space_jump_boots.png");
}

item-counter[item="grapple"] {
    background-image: url("../img/echoes/game/grapple_beam.png");
}

item-counter[item="bombs"] {
    background-image: url("../img/echoes/game/morph_ball_bomb.png");
}

item-counter[item="boost"] {
    background-image: url("../img/echoes/game/boost_ball.png");
}

item-counter[item="spider"] {
    background-image: url("../img/echoes/game/spider_ball.png");
}

item-counter[item="energy-transfer-module"] {
    background-image: url("../img/echoes/game/energy_transfer_module.png");
}

item-counter[item="dark-suit"] {
    background-image: url("../img/echoes/game/dark_suit.png");
}

item-counter[item="light-suit"] {
    background-image: url("../img/echoes/game/light_suit.png");
}

item-counter[item="dark-visor"] {
    background-image: url("../img/echoes/game/dark_visor.png");
}

item-counter[item="echo-visor"] {
    background-image: url("../img/echoes/game/echo_visor.png");
}

item-counter[item="seeker-missiles"] {
    background-image: url("../img/echoes/game/seeker_launcher.png");
}

item-counter[item="dark-beam"] {
    background-image: url("../img/echoes/game/dark_beam.png");
}

item-counter[item="light-beam"] {
    background-image: url("../img/echoes/game/light_beam.png");
}

item-counter[item="anni-beam"] {
    background-image: url("../img/echoes/game/annihilator_beam.png");
}

item-counter[item="power-bombs"] {
    background-image: url("../img/echoes/game/power_bomb.png");
}

item-counter[item="power-bombs"][count="0"] [counter] {
    opacity: 0;
}

item-counter[item="screw-attack"] {
    background-image: url("../img/echoes/game/screw_attack.png");
}

item-counter[item="violet-translator"] {
    background-image: url("../img/echoes/game/violet_translator.png")
}

item-counter[item="amber-translator"] {
    background-image: url("../img/echoes/game/amber_translator.png")
}

item-counter[item="emerald-translator"] {
    background-image: url("../img/echoes/game/emerald_translator.png")
}

item-counter[item="cobalt-translator"] {
    background-image: url("../img/echoes/game/cobalt_translator.png")
}

item-counter[item="agon-key"][count="0"] [counter] {
    opacity: 0;
}

item-counter[item="agon-key"] {
    background-image: url("../img/echoes/game/agon_key.png")
}

item-counter[item="torvus-key"][count="0"] [counter] {
    opacity: 0;
}

item-counter[item="torvus-key"] {
    background-image: url("../img/echoes/game/torvus_key.png")
}

item-counter[item="ing-key"][count="0"] [counter] {
    opacity: 0;
}

item-counter[item="ing-key"] {
    background-image: url("../img/echoes/game/ing_hive_key.png")
}

item-counter[item="sky-key"][count="0"] [counter] {
    opacity: 0;
}

item-counter[item="sky-key"] {
    background-image: url("../img/echoes/game/sky_temple_key.png")
}

item-counter[item="suits"][count="0"] {
    background-image: url("../img/echoes/game/dark_suit.png");
}

item-counter[item="suits"][count="1"] {
    background-image: url("../img/echoes/game/dark_suit.png");
}

item-counter[item="suits"][count="2"] {
    background-image: url("../img/echoes/game/light_suit.png");
}

item-counter[item="missiles"][count="0"] {
    background-image: url("../img/echoes/game/missile_launcher.png");
}

item-counter[item="missiles"][count="1"] {
    background-image: url("../img/echoes/game/missile_launcher.png");
}

item-counter[item="missiles"][count="2"] {
    background-image: url("../img/echoes/game/seeker_launcher.png");
}