body {
    background: black;
}

[center] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

[flex-column] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

[flex-row] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

[top-pad] {
    padding-top: 30px;
}

item-counter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 4px;
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}

item-counter, item-toggle {
    transition: 0.5s;
    transition-property: filter, opacity;
    cursor: pointer;
}

item-counter [counter], item-toggle {
    user-select: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: sans-serif;
    font-size: 14px;
}

item-counter[count="0"], item-toggle[count="0"] {
    opacity: 0.35;
    filter: blur(1px) saturate(20%);
}

item-toggle {
    padding: 6px;
    font-size: 18px;
}

[artifact-wrapper] {
    position: relative;
    width: 120px;
    height: 120px;
}

[artifact-wrapper] item-counter {
    position: absolute;
    width: 120px;
    height: 120px;
}
