body {
    background: black;
}

[center] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

[flex-column] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

[flex-row] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

[top-pad] {
    padding-top: 0px;
}

item-counter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2px;
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
}

item-counter, item-toggle {
    /*transition: 0.3s;*/
    transition-property: filter, opacity;
    cursor: pointer;
}

item-counter[big] {
    width: 60px;		/*90*/
    height: 68px;	/*98*/
    background-size: contain;
    background-repeat: no-repeat;
}

item-counter [counter], item-toggle {
    user-select: none;
    -webkit-font-smoothing: antialiased;
    color: rgba(255, 255, 255, 1);
    font-family: sans-serif;
	font-weight: bold;
    font-size: 24px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 2px 2px 4px #000000;
}

newtab-link {
    user-select: none;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    filter: blur(1px) saturate(20%);
}

newtab-link:hover {
    text-decoration: underline;
    filter: none;
}

item-counter[count="0"], item-toggle[count="0"] {
    opacity: 0.3;
    filter: /*blur(1px)*/ saturate(50%);
}

item-toggle {
    padding: 6px;
    font-size: 18px;
}

[artifact-wrapper] {
    position: relative;
    width: 120px;
    height: 120px;
}

[artifact-wrapper] item-counter {
    position: absolute;
    width: 120px;
    height: 120px;
}

[translator-wrapper] {
    position: relative;
    width: 45px;
    height: 45px;
}

[translator-wrapper] item-counter {
    position: absolute;
    width: 45px;
    height: 45px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5%;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }