<pre>{{grid.enabled}}</pre>
<div class="item-grid">

  <div class="item-row">
    <div class="item-box">
      <div class="item item-wave" enabled="grid.enabled['wave']"></div>
    </div>
    <div class="item-box">
      <div class="item item-ice" enabled="grid.enabled['ice']"></div>
    </div>
    <div class="item-box">
      <div class="item item-plasma" enabled="grid.enabled['plasma']"></div>
    </div>
  </div>

  <div class="item-row">
    <div class="item-box">
      <div class="item item-varia" enabled="grid.enabled['varia']"></div>
    </div>
    <div class="item-box">
      <div class="item item-gravity" enabled="grid.enabled['gravity']"></div>
    </div>
    <div class="item-box">
      <div class="item item-phazon" enabled="grid.enabled['phazon']"></div>
    </div>
  </div>

  <div class="item-row">
    <div class="item-box">
      <div class="item item-morph" enabled="grid.enabled['morph']"></div>
    </div>
    <div class="item-box">
      <div class="item item-boost" enabled="grid.enabled['boost']"></div>
    </div>
    <div class="item-box">
      <div class="item item-spider" enabled="grid.enabled['spider']"></div>
    </div>
  </div>

  <div class="item-row">
    <div class="item-box">
      <div class="item item-missile" enabled="grid.enabled['missile']"></div>
    </div>
    <div class="item-box">
      <div class="item item-charge" enabled="grid.enabled['charge']"></div>
    </div>
    <div class="item-box">
      <div class="item item-bomb" enabled="grid.enabled['bomb']"></div>
    </div>
    <div class="item-box">
      <div class="item item-power-bomb" enabled="grid.enabled['power-bomb']"></div>
    </div>
  </div>

  <div class="item-row">
    <div class="item-box">
      <div class="item item-space-jump" enabled="grid.enabled['space-jump']"></div>
    </div>
    <div class="item-box">
      <div class="item item-grapple" enabled="grid.enabled['grapple']"></div>
    </div>
    <div class="item-box">
      <div class="item item-thermal" enabled="grid.enabled['thermal']"></div>
    </div>
    <div class="item-box">
      <div class="item item-xray" enabled="grid.enabled['xray']"></div>
    </div>
  </div>

  <div class="item-row">
    <div class="item-box">
      <div class="item item-super-missile" enabled="grid.enabled['super-missile']"></div>
    </div>
    <div class="item-box">
      <div class="item item-wavebuster" enabled="grid.enabled['wavebuster']"></div>
    </div>
    <div class="item-box">
      <div class="item item-ice-spreader" enabled="grid.enabled['ice-spreader']"></div>
    </div>
    <div class="item-box">
      <div class="item item-flamethrower" enabled="grid.enabled['flamethrower']"></div>
    </div>
  </div>

</div>