<!DOCTYPE html>
<html ng-app="helper">
<head lang="en">
  <meta charset="UTF-8">
  <!-- Google Analytics -->
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53207226-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script type="text/javascript" src="../libs/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../libs/angular.min.js"></script>
  <script type="text/javascript" src="../libs/ui-bootstrap-tpls-0.11.0.min.js"></script>
  <script type="text/javascript" src="../js/helper.js"></script>
  <link type="text/css" rel="stylesheet" href="../css/bootstrap.css"/>
  <link type="text/css" rel="stylesheet" href="../css/helper.css"/>
  <title>Prime 1 Item Location Tracker</title>
</head>
<body ng-controller="PageController">
<div class="container">
  <div class="col-md-12">
    <h1>Prime 1 Randomizer Item Location Tracker</h1>
  </div>
  <div class="col-md-6">
    <h2>Item Locations <span class="items-rem-count">{{locationFoundCount() || 0}}/{{locationTotalCount()}} ({{locationRemCount()}} left)</span></h2>
    <input type="text" ng-model="locationSearch" class="form-control" placeholder="Search..."/>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="location in locations" ng-show="([location] | filter:locationSearch).length">
        <div>
          <h4 class="item-location">{{location.location}}</h4>
          {{location.area}}
          <span class="item-original">{{location.item}}</span>
        </div>
        <div>
          <input class="form-control" type="text" ng-model="location.actualItem"
                 typeahead="i for i in itemsRemaining() | filter:$viewValue | limitTo:8"/>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <h2>Items <span class="items-rem-count">{{itemFoundCount() || 0}}/{{itemTotalCount()}} ({{itemRemCount()}} left)</span></h2>
    <input type="text" ng-model="itemSearch" class="form-control" placeholder="Search..."/>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="(item, val) in items"
          ng-class="{'done': val.found >= val.count}" ng-show="([item] | filter:itemSearch).length">
        <div>
          <span class="item-name">{{item}}</span>
          <span class="item-count">{{val.found || 0}}/{{val.count}}</span>
        </div>
        <div>
        </div>
      </li>
    </ul>
  </div>
</div>
</body>
</html>